body{
    margin: 0;
    padding: 0;
    
}
.para{
    height: 400px;
    width: 70%;
    background-color: #051748;
    position: absolute;
    top: 50%;
    left: 20%;
    box-shadow: 10px 10px 15px #262626;
    border-radius: 5px;
}
.para p{
    font-size: 25px;
    text-align: justify;
    color: #fff;
}
h1{
    text-align: center;
}
footer{
    position:absolute;
   bottom:0;
   width:1325px;
   height:60px;   /* Height of the footer */
   background: rgb(4, 41, 67);
}
footer h1{
    text-align: center;
}